<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pokechat</title>
    <script src="/scripts/script.js" defer></script>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <form method="POST" action="/">
        <textarea name="chathistory" id="chatHistory" cols="30" rows="10"><% messages.forEach(msg => {%><%= `${msg.sender}: ${msg.message}\n`%><% }); %></textarea>
        <input type="text" name="newMessage" id="newMessage" autofocus >
        <input type="submit" hidden />
    </form>
</body>
</html>