<%- include ('partials/header.ejs') %>
<body>
    <form method="POST" action="/">
        <textarea name="chathistory" id="chatHistory" cols="30" rows="10"><% messages.forEach(msg => {%><%= `${msg.sender}: ${msg.message}\n`%><% }); %></textarea>
        <input type="text" name="newMessage" id="newMessage" autofocus >
        <input type="submit" hidden />
    </form>
</body>
</html>